<%- include('header.ejs') %>

<section>
	<inner-column>
		<ul>
			<% content.forEach( function(monster) { 
				if ( monster.page == "monsters") {
      %>
				<li>
					<%= monster.content %>	
				</li>
			<% } }); %>
		</ul>
	</inner-column>
</section>


<section>
	<inner-column>

		<picture>
			<img src="/assets/monsters/<%=monster.portrait%>" alt="">
		</picture>

		<h3 class="attention-voice"><%=monster.name%></h3>
	
	</inner-column>
</section>

<%- include('footer.ejs') %>