<!doctype HTML>
<%- include('header.ejs') %>

<h1 class='loud-voice'>Home</h1>

<main>
	<h2 class="loud-voice">Card List</h2>

	<ul class="card-list">
		<% playerData.forEach(function(player) { %>
			
			<li class="player-card">
				<img src="assets/<%=player.image %>" alt="">
				<h3 class="attention-voice"> <%=player.name %> </h3>
				<p> Position: <%=player.position %> </p>
				<p> Number: <%=player.number %> </p>
				<p> College: <%=player.college %> </p>
				
			</li>			

		<% }); %>
	</ul>
	<img src='jamal-crawford.png' alt=''>
</main>

<%- include('footer.ejs') %>